data/*
.idea/*
__pycache__
Stanford-CS-261-Credit-Networks-with-Fees.code-workspace

capacity_vs_fees_russell_run_baseline_varying_transaction_f5cbd553-d51a-42a9-9a90-ac5f016d4779_20231203063054.png
capacity_vs_fees_russell_run_random_transactions_1_2_2d565b8f-702c-468e-87ea-055cf0f62f01_20231205085031.png
capacity_vs_fees_russell_run_random_transactions_baseline_958297bf-f6f0-4129-ae16-c63474edee9c_20231205082709.png
capacity_vs_percentage_fees_russell_run_random_transactions_baseline_percentage_fees_41897eae-ade6-4651-b53a-a0c456c6ef37_20231208061433.png
heatmap_capacity_vs_fees_russell_run_baseline_varying_transaction_f5cbd553-d51a-42a9-9a90-ac5f016d4779_20231203063054.png
heatmap_capacity_vs_fees_russell_run_random_transactions_1_2_2d565b8f-702c-468e-87ea-055cf0f62f01_20231205085031.png
heatmap_capacity_vs_fees_russell_run_random_transactions_baseline_958297bf-f6f0-4129-ae16-c63474edee9c_20231205082709.png
heatmap_capacity_vs_percentage_fees_russell_run_random_transactions_baseline_percentage_fees_41897eae-ade6-4651-b53a-a0c456c6ef37_20231208061433.png
improved_plot_smol_capacity_vs_fees_russell_run_baseline_varying_transaction_f5cbd553-d51a-42a9-9a90-ac5f016d4779_20231203063054.png
improved_plot_smol_capacity_vs_fees_russell_run_random_transactions_1_2_2d565b8f-702c-468e-87ea-055cf0f62f01_20231205085031.png
improved_plot_smol_capacity_vs_fees_russell_run_random_transactions_baseline_958297bf-f6f0-4129-ae16-c63474edee9c_20231205082709.png
improved_plot_smol_capacity_vs_percentage_fees_russell_run_random_transactions_baseline_percentage_fees_41897eae-ade6-4651-b53a-a0c456c6ef37_20231208061433.png
russell_run_baseline_varying_transaction.pkl
russell_run_random_transactions_1_2.pkl
russell_run_random_transactions_baseline.pkl
russell_run_random_transactions_baseline_percentage_fees.pkl
