data/*
.idea/*
__pycache__
Stanford-CS-261-Credit-Networks-with-Fees.code-workspace

capacity_vs_fees_russell_run_baseline_varying_transaction_f5cbd553-d51a-42a9-9a90-ac5f016d4779_20231203063054.png
heatmap_capacity_vs_fees_russell_run_baseline_varying_transaction_f5cbd553-d51a-42a9-9a90-ac5f016d4779_20231203063054.png
improved_plot_smol_capacity_vs_fees_russell_run_baseline_varying_transaction_f5cbd553-d51a-42a9-9a90-ac5f016d4779_20231203063054.png
russell_run_baseline_varying_transaction.pkl


